In [5]:
from numpy import *
from numpy.random import *
from datascience import *
import pandas as pd
import os

# Customize look of graphics
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

# Force display of all values 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
#Original Dataset
c_data=pd.read_csv('country_data',  encoding='latin-1')
#Filter to US only
us_data=c_data[c_data['geoId']=='US']
sort_us=us_data.sort_values(by=['year','month', 'day'])
sort_us

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
6982,31/12/2019,31,12,2019,0,0,United_States_of_America,US,USA,327167434.0
6981,01/01/2020,1,1,2020,0,0,United_States_of_America,US,USA,327167434.0
6980,02/01/2020,2,1,2020,0,0,United_States_of_America,US,USA,327167434.0
6979,03/01/2020,3,1,2020,0,0,United_States_of_America,US,USA,327167434.0
6978,04/01/2020,4,1,2020,0,0,United_States_of_America,US,USA,327167434.0
...,...,...,...,...,...,...,...,...,...,...
6899,23/03/2020,23,3,2020,8459,131,United_States_of_America,US,USA,327167434.0
6898,24/03/2020,24,3,2020,11236,119,United_States_of_America,US,USA,327167434.0
6897,25/03/2020,25,3,2020,8789,211,United_States_of_America,US,USA,327167434.0
6896,26/03/2020,26,3,2020,13963,249,United_States_of_America,US,USA,327167434.0
6895,27/03/2020,27,3,2020,16797,246,United_States_of_America,US,USA,327167434.0

In [7]:
county= pd.read_csv('with_Counties.csv',  encoding='latin-1')
county_sorted= county.sort_values(by=['state', 'county', 'primary_city'])
county_sorted

,zip,primary_city,state,latitude,longitude,county,type,world_region,country,decommissioned,estimated_population,notes
14992,34001,Apo,AA,0.00,0.00,NaN,MILITARY,CA,NI,1,0,"; Decommisioned, from MPSA Ballot;Country and ..."
14995,34006,Apo,AA,0.00,0.00,NaN,MILITARY,NaN,US,0,0,NaN
14998,34009,Apo,AA,0.00,0.00,NaN,MILITARY,SA,GY,1,0,"; Decommisioned, from MPSA Ballot;Country and ..."
14999,34010,Apo,AA,0.00,0.00,NaN,MILITARY,CA,HN,1,0,"; Decommisioned, from MPSA Ballot;Country and ..."
15015,34038,Apo,AA,0.00,0.00,NaN,MILITARY,NaN,US,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
35917,82401,Worland,WY,44.00,-107.95,Washakie,STANDARD,NaN,US,0,6629,NaN
35975,82715,Four Corners,WY,44.08,-104.13,Weston,STANDARD,NaN,US,0,0,NaN
35970,82701,Newcastle,WY,43.84,-104.21,Weston,STANDARD,NaN,US,0,4410,NaN
35981,82723,Osage,WY,43.98,-104.42,Weston,STANDARD,NaN,US,0,0,NaN
35985,82730,Upton,WY,44.10,-104.62,Weston,STANDARD,NaN,US,0,1321,NaN

In [8]:
covid_states= pd.read_csv('us-states.csv',  encoding='latin-1')
covid_states_sorted= covid_states.sort_values(by=['state', 'date'])
covid_states_sorted

            date    state  fips  cases  deaths
586   2020-03-13  Alabama     1      6       0
637   2020-03-14  Alabama     1     12       0
689   2020-03-15  Alabama     1     23       0
742   2020-03-16  Alabama     1     29       0
795   2020-03-17  Alabama     1     39       0
...          ...      ...   ...    ...     ...
1064  2020-03-21  Wyoming    56     24       0
1118  2020-03-22  Wyoming    56     26       0
1172  2020-03-23  Wyoming    56     28       0
1226  2020-03-24  Wyoming    56     37       0
1280  2020-03-25  Wyoming    56     49       0

[1281 rows x 5 columns]

In [9]:
covid_county=pd.read_csv('us-counties.csv',  encoding='latin-1')
covid_county_sorted = covid_county.sort_values(by=['state', 'county', 'date'])
covid_county_sorted

             date   county    state     fips  cases  deaths
9481   2020-03-24  Autauga  Alabama   1001.0      1       0
10838  2020-03-25  Autauga  Alabama   1001.0      4       0
1934   2020-03-14  Baldwin  Alabama   1003.0      1       0
2309   2020-03-15  Baldwin  Alabama   1003.0      1       0
2738   2020-03-16  Baldwin  Alabama   1003.0      1       0
...           ...      ...      ...      ...    ...     ...
7115   2020-03-21    Teton  Wyoming  56039.0      2       0
8253   2020-03-22    Teton  Wyoming  56039.0      2       0
9480   2020-03-23    Teton  Wyoming  56039.0      2       0
10837  2020-03-24    Teton  Wyoming  56039.0      3       0
12376  2020-03-25    Teton  Wyoming  56039.0      6       0

[12377 rows x 6 columns]

In [4]:
pd.read_excel('populations.xlsx')

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
3,United States,308745538,308758105,309321666,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
4,".Autauga County, Alabama",54571,54597,54773,55227.0,54954.0,54727.0,54893.0,54864.0,55243.0,55390.0,55533.0,55869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3147,"Note: The 6,222 people in Bedford city, Virgin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3148,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3149,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3150,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3151,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN